.background,
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 320px;
  height: 654px;
}
.groupChild {
  background-color: var(--color-dodgerblue);
}
.proximo {
  position: absolute;
  top: 16px;
  left: 31px;
  line-height: 125%;
}
.ctaButton {
  position: absolute;
  top: 521px;
  left: 89px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 143px;
  height: 55px;
  cursor: pointer;
}
.horaDaFoto {
  position: absolute;
  top: 16px;
  left: 99px;
  line-height: 125%;
}
.ctaButton1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 320px;
  height: 55px;
}
.fotoDoNumero {
  position: absolute;
  top: 147px;
  left: calc(50% - 145px);
  font-size: var(--font-size-xl);
  line-height: 150%;
  font-weight: 800;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 290px;
}
.ctaButton2 {
  position: absolute;
  top: 203px;
  left: 51px;
  border-radius: var(--br-10xs);
  background-color: var(--color-silver);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 219px;
  height: 292px;
}
.vistoria {
  position: absolute;
  top: 64px;
  left: 0;
  width: 320px;
  height: 576px;
  color: var(--color-dodgerblue);
}
.deixeSuaBike {
  position: absolute;
  top: 138px;
  left: calc(50% - 135px);
  font-size: var(--font-size-base);
  line-height: 150%;
  display: inline-block;
  text-align: center;
  width: 270px;
}
.headerChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 320px;
  height: 64px;
}
.bikecheck {
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 150%;
}
.menuIcon {
  position: absolute;
  top: 6px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  object-fit: cover;
}
.bikecheckParent {
  position: absolute;
  top: 14px;
  left: 24px;
  width: 176px;
  height: 36px;
}
.header,
.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
}
.header {
  height: 64px;
  font-size: var(--font-size-5xl);
}
.inner {
  height: 654px;
}
.div {
  position: relative;
  width: 100%;
  height: 654px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
