.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  width: 320px;
  height: 64px;
}
.bikecheck {
  position: absolute;
  top: 0;
  left: 40px;
  line-height: 150%;
}
.menuIcon {
  position: absolute;
  top: 6px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  object-fit: cover;
}
.bikecheckParent {
  position: absolute;
  top: 14px;
  left: 24px;
  width: 176px;
  height: 36px;
}
.background,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 320px;
  height: 654px;
}
.groupItem {
  background-color: var(--color-dodgerblue);
}
.enviar {
  position: absolute;
  top: 16px;
  left: 42px;
  line-height: 125%;
}
.ctaButton {
  position: absolute;
  top: 585px;
  left: 89px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 143px;
  height: 55px;
  cursor: pointer;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
}
.semOculosSem,
.seuRostinho,
.tireUmaSelfie {
  position: absolute;
  line-height: 150%;
  text-align: center;
}
.seuRostinho {
  top: 129px;
  left: calc(50% - 54px);
  font-size: var(--font-size-base);
  font-weight: 600;
}
.semOculosSem,
.tireUmaSelfie {
  display: inline-block;
}
.semOculosSem {
  top: 243px;
  left: calc(50% - 160px);
  font-size: var(--font-size-base);
  font-weight: 600;
  width: 319px;
  height: 24px;
}
.tireUmaSelfie {
  top: 153px;
  left: calc(50% - 145px);
  font-size: var(--font-size-xl);
  font-weight: 800;
  width: 290px;
}
.groupInner {
  position: absolute;
  top: 313px;
  left: 82px;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 157px;
  height: 206px;
}
.confirmeSuaIdentidade {
  position: absolute;
  top: 16px;
  left: 43px;
  line-height: 125%;
}
.ctaButton1,
.inner {
  position: absolute;
  left: 0;
  width: 320px;
}
.ctaButton1 {
  top: 64px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 55px;
  font-size: var(--font-size-lg);
  color: var(--color-dodgerblue);
}
.inner {
  top: 0;
  height: 654px;
}
.div {
  position: relative;
  width: 100%;
  height: 654px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
